@import url('../../index.css');

/* Header styling */
.site-header-menu {
  background-color: var(--palette_black); 
  height: 93px; 
  width: 100%; 
  color: var(--palette_white); 
  padding: 0 80px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  box-shadow: 0 0.5px 4px var(--palette_white);
}

.site-branding {
  display: flex; 
  align-items: center; 
}


.logo-link {
  display: flex;
  align-items: center; 
  text-decoration: none; 
  color: var(--palette_white);
}

.logo-text {
  color: var(--palette_white); 
}

.logo-image {
  height: 40px; 
  margin-right: 10px; 
}

.nav-menu {
  display: flex; 
  align-items: center; 
  list-style-type: none; 
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out; 
}

.nav-menu-li {
  margin: 0 10px; 
}

.nav-menu-li a {
  color: var(--palette_white); 
  background-color: var(--palette_purple); 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-decoration: none; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  display: block; 
  font-weight: bold; 
}


.nav-menu-li a:hover {
  background-color: var(--palette_orange);
  color: var(--palette_black); 
}


.hamburger {
  display: none; 
  font-size: 30px; 
  background: none; 
  border: none; 
  color: var(--palette_white); 
  cursor: pointer; 
}


@media (max-width: 768px) {
  .nav-menu {
    display: none; 
    flex-direction: column; 
    position: absolute; 
    top: 93px; 
    right: 0; 
    background-color: var(--palette_black); 
    width: 100%; 
    box-shadow: 0 0.5px 4px var(--palette_white); 
  }

  .nav-menu.open {
    display: flex; 
    opacity: 1;
  }

  .nav-menu-li {
    display: block; 
    text-align: center; 
    margin: 15px 0; 
  }

  .hamburger {
    display: block; 
  }
}
