@import url('../../index.css');

/*Header */
.site-header-menu {
    background-color: var(--palette_black);
    height: 93px;
    width: 100%;
    color: var(--palette_white);
    padding: 0px 80px;
  }
  
  .site-branding {
    height: 93px;
    line-height: 93px;
    float: left;
    position: relative;
    display: block;
    z-index: 1;
  }
  
  .nav-menu {
    float: right;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .nav-menu-li {
    padding: 20px;
    display: inline-block;
    position: relative;
  }
  
  .nav-menu-li a {
    color: var(--palette_white);
  }
  
  .logo-text {
    display: inline;
    ;
  }