@import url('../../index.css');

/* Intro Main Section */
.main {
    display: grid;
    place-items: center; 
    padding: 20px; 
}

.title {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: var(--palette_white);
  font-family: sans-serif;
  font-size: 3rem; 
  margin-bottom: 40px; 
}

.welcome_section {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
    width: 90%;
    max-width: 1200px; 
    margin: auto;
    text-align: center;
    align-items: center;
}

.welcome_section h1 {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 1% 0;
    color: var(--palette_white);
    font-family: sans-serif;
    font-size: 2.5rem; 
}

.logo-link {
    display: flex;
    align-items: center;
    margin-right: 15px; 
}

.logo-image {
    height: 50px; 
    margin-right: 10px; 
}

.welcome_section p {
    color: var(--palette_white);
    max-width: 500px; 
    font-weight: bold;
    line-height: 1.6; 
    margin: 0 auto; 
}

.welcome_section img {
    max-width: 100%;
    max-height: 350px;
    aspect-ratio: 1/.7;
    border-radius: 15%;
    border: 0.3rem solid;

    box-shadow: 0 3px 10px var(--palette_purple);
}

.home-buttons {
    display: flex;
    justify-content: center; 
    gap: 15px;
    margin-top: 20px;
}



@media (min-width: 768px) {
    .welcome_section {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "image text"
            "image buttons";
        text-align: center;
    }

    .welcome_section img {
        grid-area: image; 
    }

    .welcome_section p {
        grid-area: text; 
    }

    .home-buttons {
        grid-area: buttons; 
        justify-content: center; 
    }

    .button {
        width: 200px; /* Adjust width for larger screens */
    }
}

@media (max-width: 768px) {
    .welcome_section {
        grid-template-columns: 1fr; 
        text-align: center;
    }

    .home-buttons {
        flex-direction: column; 
    }
}