
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    justify-content: flex-start; 
    gap: 20px; 
    background-color: var(--palette_purple);
    padding: 10px 0;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .tab {
    color: var(--palette_white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .tab:hover, .tab.active {
    background-color: var(--palette_orange);
  }
  
  .main-content {
    background-color: var(--palette_white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .activity-item {
    margin-bottom: 20px;
  }
  
  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-link {
    color: var(--palette_purple);
    text-decoration: none;
  }
  
  .user-link:hover {
    text-decoration: underline;
  }
  
  .follow-button {
    background-color: var(--palette_yellow);
  }
  
  .movie-card-list {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
  }
  
  .movie-card {
    flex: 0 0 auto;
    width: 200px;
    background-color: var(--palette_white);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .movie-details {
    padding: 10px;
    text-align: left;
  }
  
  .movie-details h4 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
  }
  
  .movie-details p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .movie-details .bold {
    font-weight: bold;
  }
  
  .action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  
  .button {
    background-color: var(--palette_purple);
    color: var(--palette_white);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--palette_orange);
    color: var(--palette_black);
  }
  
  .like-button {
    background-color: var(--palette_yellow);
  }
  
  .view-more-button {
    background-color: var(--palette_yellow);
  }
  
  @media (max-width: 768px) {
    .tabs {
      flex-direction: column;
      gap: 10px;
    }
  
    .movie-card-list {
      flex-direction: column;
      align-items: center;
    }
  
    .movie-card {
      width: 100%;
    }
  }