/* global styles*/
:root {
  --palette_black: #070707;
  --palette_white: #FFFFFF;
  --palette_purple: #5E00FF;
  --palette_orange: #FF6700;
  --palette_yellow: #FEDC00;
}

/* Fonts */
@font-face {
  font-family: 'LimeLight';
  src: url('./assets/fonts/Limelight/Limelight-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--palette_black); 
  min-height: 100vh;
}

*{
  box-sizing: border-box;
}

/* Global responsive wrapper */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--palette_black);
  overflow: hidden;
}


/* Global Styles for all buttons */

.button {
  color: var(--palette_white);
  background-color: var(--palette_purple);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--palette_orange);
  color: var(--palette_black);
}



/* Global Styles for All Movie Lists */
.movies-list {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding-bottom: 10px;
}




