.user-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.user-info {
    background-color: var(--palette_white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.user-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.user-info p {
    margin: 5px 0;
}

.followers-list {
    margin-top: 10px;
}

.followers-list h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.followers-list ul {
    list-style: none;
    padding: 0;
}

.followers-list ul li {
    margin: 5px 0;
}

.favorite-movies {
    background-color: var(--palette_white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.favorite-movies h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.movies-list {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding-bottom: 10px;
}

.movie-item {
    flex: 0 0 auto;
    width: 150px;
    background-color: var(--palette_white);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.movie-poster {
    width: 100%;
    height: auto;
}

.movie-details {
    padding: 10px;
}

.movie-details h4 {
    margin: 10px 0;
    font-size: 18px;
}

.movie-details p {
    margin: 5px 0;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.button {
    color: var(--palette_white);
    background-color: var(--palette_purple);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--palette_orange);
    color: var(--palette_black);
}

.update-button {
    background-color: var(--palette_purple);
}

.delete-button {
    background-color: var(--palette_purple);
}

.like-button {
    background-color: var(--palette_yellow);
}

.like-button.liked {
    background-color: var(--palette_yellow);
}

.follow-button {
    background-color: var(--palette_yellow);
    margin-top: 10px;
}